@import "./_mixins";
@import "./_layout";
@import "./components/ecosystem";
body {
  background-color: #38356f;
  height: 100vh;
  overflow: hidden;
}

.app {
  text-align: center;
  &-title {
    font-size: 2rem;
  }
  &-header {
    @include center-both;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
  }
}
